@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/graphik');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #70C9DD;
}

body {
  background-color: #191919;
  color: white;
}

/* ---------CURSEUR---------- */
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: rotate normal infinite 10s linear;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

/* .cursor:hover {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(50%, 50%); 
  width: 5px;
  height: 5px;
  background: white;
} */

/* ----------HEADER---------- */

nav {
  width: 100%;
  padding: 30px;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: sticky;

  background-color: #191919;
  font-family: 'Heebo', sans-serif;

}

ul {
  max-width: max-content;
  width: max-content;
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}

nav a {

  margin: 0 10px;
  text-decoration: none;
  position: relative;

  color: white;
  font-size: 17px;
  padding: 1px;
}

nav a:hover {
  color: #FFD166;
  transition: 0.3s;
  /* outline: solid white;
    border-radius: 9px; */

}

#barre_nav {
  background: white;
  height: 1px;
  margin: 0 30px;
}

/* ----------MAIN---------- */

main {
  /* cursor: none; */
  margin: 0 30px;
}

/* welcome */

#welcome {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  font-family: 'Graphik', sans-serif;
  height: 85vh;
}

#welcome h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 74px;
  margin: 10px 0;
}

#welcome h1:nth-child(2) {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 74px;
  color: #ffffff00;
  -webkit-text-stroke: 1px white;
}

/* presentation */

#moi {
  width: 70%;
  transform: translate(30px,30px);
  transition: ease-in 0.3s;
}

#moi:hover {
  box-shadow: 30px 30px #7B66FF;
  transform: translate();
  transition: ease-in 0.3s;
}


.cadre {
    border: 2px solid white;
    display: flex;
    padding: 1% 3%;
}

.mmi {
  flex-direction: column;
  align-items: flex-end;
}

#presentation {
  height: 100vh;

}

#moi h4 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

#moi p {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: justify;
}

#plus_mmi:hover{
  color: #70C9DD;
}