@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/graphik');
                
*
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #191919;
}

/* ----------HEADER---------- */

nav {
    width: 100%;
    padding: 30px;
    top:0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: sticky;

    background-color: #191919;
    font-family: 'Heebo', sans-serif;

  }
  
  ul {
    max-width: max-content;
    width: max-content;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
  }
  
  nav a {
    
    margin: 0 10px;
    text-decoration: none;
    position: relative;

    color: white;
    font-size: 17px;
  }
  
  nav a:hover{
    color: #FFD166;
    transition: 0.3s;
  }

#barre_nav {
  background: white;
  height: 1px;
  margin: 0 30px;
}

/* ----------MAIN---------- */


