* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    background-color: #F0ECD7;
  }

  /* HEADER */

  header {
    border-bottom: 2px solid;
  }
  
  nav {
    width: 100%;
    padding: 30px;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: sticky;

    font-family: 'Heebo', sans-serif;
  
  }
  
  ul {
    text-transform: lowercase;

    max-width: max-content;
    width: max-content;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  
  }
  
  nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
  
    font-size: 17px;
    padding: 1px;
  }
  
  nav a:hover {
    transition: 0.3s;
    /* outline: solid white;
      border-radius: 9px; */
  
  }
  
  #logo {
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 20px;
  }

  h1 {
    
  }
  